<div class="navbar">
    <div>
      <% if (user) { %>
        <a href="#" onclick="history.back();">Go Back</a>        
        <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
      <% } %>
    </div>
</div>
  